<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Panacea@Login Form</title>
<link th:href="@{/css/style.css}" rel="stylesheet">

</head>
<body style= "background-color: #e9eef7;">
	<div class="container">
		<div class="wrapper">
			<div class="title">
				<span>Panacea Login </span>
			</div>
			
			<form th:action="@{/login}" th:object="${loginForm}" method="post">
				<p th:if="${error}" class="error">UserName or Password Incorrect</p>
				<div class="row">

					<input type="text" name="username" placeholder="User Id" >
				</div>
				<div class="row">

					<input type="password" name="password" placeholder="Password">
				</div>
				<div class="row button">
					<input type="submit" value="Login">
				</div>
			</form>
		</div>
	</div>

</body>
</html>